@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Nunito+Sans:wght@300;600;800&display=swap");

/*Variables*/
:root {
  --main-color-one: #111517;
  --main-color-two: #858585;
  --main-color-three: #fafafa;
  --main-color-four: #ffffff;
  --main-color-text: #111517;
  --weight-small: 300;
  --weight-medium: 600;
  --weight-heavy: 800;

  --font-main: "Nunito Sans", sans-serif;

  --border-radius: 0.3rem;

  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.dark-theme{
  --main-color-one: #ffffff;
  --main-color-two: #fafafa;
  --main-color-three: #111517;
  --main-color-four: #202A44;
  --main-color-text: #ffffff;
}

/*Overall Style*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  color: var(--main-color-one);
}
body {
  background-color: var(--main-color-three) !important;
}
.boxShadow {
  box-shadow: var(--box-shadow);
}
.borderRadius {
  border-radius: 0.3rem;
}
.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: inherit;
}

/*Headbar*/

.headbar{
  padding-left: 1.5%;
  padding-right: 1.5%;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.headbar nav {
  font-family: "Nunito Sans";
}
header {
  background-color: var(--main-color-four);
}
.dark-themeButton {
  color: var(--main-color-text);
}
.dark-themeButton i{
  color: var(--main-color-text);
}
.dark-themeButton button{
  border: none;
  background-color: var(--main-color-four);
}
.dark-themeButton button:focus{
  border: none;
  outline: none;
  background-color: var(--main-color-four);
}
.dark-themeButton button:active{
  border: none;
  outline: none;
  background-color: var(--main-color-four);
}


/*Search and Filter*/
.has-search .form-control {
  padding-left: 2.5rem;
  border: none;
  box-shadow: var(--box-shadow);
  font-family: "Nunito Sans";
  font-size: 14px;
  width: 350px;
  background-color: var(--main-color-four);
  color: var(--main-color-text);
}
.has-search .form-control:focus {
  padding-left: 2.5rem;
  border: none;
  box-shadow: var(--box-shadow);
  font-family: "Nunito Sans";
  font-size: 14px;
  width: 350px;
  background-color: var(--main-color-four);
  color: var(--main-color-text);
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  pointer-events: none;
  color: var(--main-color-text);
  padding-top:  0.6rem;
  padding-left: 0.6rem;
}

.mainPage{
  padding-left: 3%;
  padding-right: 3%;
  background-color: var(--main-color-three);
}

.search-and-filter{
  padding-top: 3rem;
  flex-wrap: wrap;
}

.dropdown {
  position: relative;
  display: block;
  margin: 10px;
  background-color: var(--main-color-four);
  width: 200px;
  height: 35px;
}
.dropbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  overflow: hidden;
  white-space: nowrap;
}
.dropbtn i {
  margin-left: 2.5rem;
  font-size: 0.25rem;
  width: fit-content;
}
.dropbtn span {
  font-weight: var(--weight-small);
  font-size: 14px;
  color: var(--main-color-two);

}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-left: 3%;
  padding-right: 3%;
  background-color: var(--main-color-four);
  overflow: hidden;
}
.dropdown-content a{
  text-decoration: none;
  color: var(--main-color-two);
}
.dropdown-content a:hover {
  background-color: var(--main-color-three);
  color: var(--main-color-two);
  text-decoration: none;
  overflow: hidden;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.gridContainer {
  margin-top: 3rem;
}

.row {
  margin-left: 3%;
  margin-right: 3%;
}

.cardtext{
  font-size: 14px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  color: var(--main-color-text);
}

.cardColor{
   color: var(--main-color-text) !important; 
   background-color: var(--main-color-four) !important;
}

.card-img-top {
  height: 10rem;
  object-fit: cover;
}



